{% extends 'base.html' %}
{% block content %}
{% load static %}


<img width="100%" src="{% static 'img/23.jpg' %}">
<div class="container">
    <div class="text-center py-4">
        <h1><span class="pb-3" style="border-bottom: 5px solid #337ab7;">기술소개</span></h1>
    </div>

    <div class="row my-5">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="m-0" style="border-left:8px solid rgb(0,52,136);">&nbsp&nbsp&nbsp장비현황</h3>
            <hr>
            <div class="container text-center">
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="{% static 'img/equipment.png' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment2.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment3.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment4.png' %}" width="100%">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="{% static 'img/equipment5.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment6.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment7.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment8.jpeg' %}" width="100%">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="{% static 'img/equipment9.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment10.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment11.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/equipment12.jpeg' %}" width="100%">
                    </div>
                </div>
            </div>

            <h3 class="m-0" style="border-left:8px solid rgb(0,52,136);">&nbsp&nbsp&nbsp인증현황</h3>
            <hr>
            <div class="container text-center">
                <div class="row">
                    <div class="col-3">
                        <img src="{% static 'img/certification.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/certification2.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/certification4.jpeg' %}" width="100%">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'img/certification3.jpeg' %}" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>


{% endblock %}