{% extends 'base.html' %}
{% block content %}
{% load static %}


<img width="100%" src="{% static 'img/23.jpg' %}">
<div class="container">
    <div class="text-center py-4">
        <h1><span class="pb-3" style="border-bottom: 5px solid #337ab7;">기술소개</span></h1>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="m-0" style="border-left:8px solid rgb(0,52,136);">&nbsp&nbsp&nbsp장비현황</h3>
            <hr>
            <div class="container text-center"></div>

            <h3 class="m-0" style="border-left:8px solid rgb(0,52,136);">&nbsp&nbsp&nbsp인증현황</h3>
            <hr>
            <div class="container text-center"></div>
        </div>
        <div class="col-1"></div>
    </div>

</div>


{% endblock %}