<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(주)테스코 - susceptor,pyrex,glass 장비부품 및 Lab 장비 QUARTZ 소재 부품전문업체</title>
    <meta name="description" content="(주)테스코 - susceptor,pyrex,glass 장비부품 및 Lab 장비 QUARTZ 소재 부품전문업체">
    <meta property="og:type" content="(주)테스코 - susceptor,pyrex,glass 장비부품 및 Lab 장비 QUARTZ 소재 부품전문업체">
    <meta property="og:title" content="(주)테스코 - susceptor,pyrex,glass 장비부품 및 Lab 장비 QUARTZ 소재 부품전문업체">
    <meta property="og:description" content="(주)테스코 - susceptor,pyrex,glass 장비부품 및 Lab 장비 QUARTZ 소재 부품전문업체">
    <meta property="og:image" content="https://tescob.s3.ap-northeast-2.amazonaws.com/img/main2.png">
    <meta property="og:url" content="http://tesco.or.kr">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: rgb(247,248,249);
        }
        .nav-link:hover {
            border-bottom: 4px solid #337ab7;
        }

    </style>
</head>
{% load static %}
<body>
    <div style="height: 20px; background-color: rgb(0,32,121);"></div>
    <div class="container py-3">
        <div class="row mx-4">
            <div class="col-6 py-1">
                <a style="text-decoration:none;" href="{% url 'home' %}"><h1 class="m-0" style="color: rgb(0,32,121);">(주)테스코</h1></a>
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'introduction:ceo' %}"><h5 class="m-0" style="">회사소개</h5></a>
                         </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product:product' 2 %}"><h5 class="m-0" style="">제품소개</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'develop:develop' %}"><h5 class="m-0" style="">기술소개</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact:contact' %}"><h5 class="m-0" style="">고객지원</h5></a>
                        </li>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    </div>
    <!-- footer -->
    <div class="py-4" style="background-color:rgb(20,20,20); height: 160px;">
        <div class="container" style="color:rgb(152,152,152)">
            <div class="row mx-4">
                <div class="col-3">
                    <h1>TESCO</h1>
                </div>
                <div class="col-9">
                    <p class="m-0">경기도 화성시 양감면 송말길 8-31</p>
                    <p class="m-0">Tel: 031-373-0252</p>
                    <p class="m-0">Mobile: 010-5525-4379</p>
                    <p class="m-0">FAX: 031-373-0253</p>
                    <p class="m-0">E-mail: bsh4379@hanmail.net</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: black" class="py-1">
        <div class="text-center" style="color:gray; font-size: 14px;">Copyright ⓒ 2019 TESCO. All rights Reserved</div>
    </div>
    <!-- /footer -->

</body>
</html>