{% extends 'base.html' %}

{% block content %}
{% load static %}


<img width="100%" src="{% static 'img/12.jpg' %}">
    <div class="container">
        <div class="my-5">
        <h3 class="text-center mb-3">대표자 인사말</h3>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">

            </div>
            <div class="col-5">
                <p>
                    저희 ㈜테스코 는 반도체, LED, LCD, SOLAR, OLED 장비부품 및 Lab 장비
                    QUARTZ 소재부품 국산화 전문업체로 제품, 설계, 제작, 납품, A/S를
                    전문으로 하는 유망 중소기업 입니다.
                    <br><br>
                    오랜 경험을 통한 축적된 기술력과 Know-How를 바탕으로 국내외 반도체,
                    LED, LCD, SOLAR, OLED 장비부품 및 Lab 장비 부품산업에 양질의 제품을 공급 하고 있으며,
                    끊임없는 신제품,신기술 개발과  공정개발을 통하여 고객대응에 더욱 적극대응 하기 위하여 항상 노력하고 있습니다.
                </p>

                <strong><p style="font-size:20px">- 대표이사 백승혁 - </p></strong>
            </div>
            <div class="col-1"></div>
        </div>
        </div>
    </div>

{% endblock %}