{% extends 'base.html' %}

{% block content %}
{% load static %}
<img width="100%" src="{% static 'img/md.jpg' %}">
    <div class="container">
        <div class="text-center py-4">
            <h1><span class="pb-3" style="border-bottom: 5px solid #337ab7;">제품소개</span></h1>
        </div>
        <div class="container my-5 text-center" style="width: 100%">
            <div class="row" style="float:none; margin:0 auto; width: 60%;">
                {% for i in products %}
                    <a class="px-1" href="{% url 'product:product' i.pk %}" style="border:1px solid gray;width:33.33%;text-align: center; text-decoration: none; color:gray">
                        <div class="text-center">
                            <p class="my-1">{{ i.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="container px-5">
            <h3 class="m-0" style="border-left:8px solid rgb(0,52,136);">&nbsp&nbsp&nbsp{{ product.name }}</h3>
            <hr>
            <div class="text-center my-5">
                {% if product.image1 %}
                <img src="{{ product.image1.url }}">
                {% endif %}
                {% if product.image2 %}
                <img src="{{ product.image2.url }}">
                {% endif %}
                {% if product.image3 %}
                <img src="{{ product.image3.url }}">
                {% endif %}
                {% if product.image4 %}
                <img src="{{ product.image4.url }}">
                {% endif %}
                {% if product.image5 %}
                <img src="{{ product.image5.url }}">
                {% endif %}
                {% if product.image6 %}
                <img src="{{ product.image6.url }}">
                {% endif %}
                {% if product.image7 %}
                <img src="{{ product.image7.url }}">
                {% endif %}
                {% if product.image8 %}
                <img src="{{ product.image8.url }}">
                {% endif %}
                {% if product.image9 %}
                <img src="{{ product.image9.url }}">
                {% endif %}
                {% if product.image10 %}
                <img src="{{ product.image10.url }}">
                {% endif %}
                {% if product.image11 %}
                <img src="{{ product.image11.url }}">
                {% endif %}
                {% if product.image12 %}
                <img src="{{ product.image12.url }}">
                {% endif %}
                {% if product.image13 %}
                <img src="{{ product.image13.url }}">
                {% endif %}
                {% if product.image14 %}
                <img src="{{ product.image14.url }}">
                {% endif %}
                {% if product.image15 %}
                <img src="{{ product.image15.url }}">
                {% endif %}
                {% if product.image16 %}
                <img src="{{ product.image16.url }}">
                {% endif %}
                {% if product.image17 %}
                <img src="{{ product.image17.url }}">
                {% endif %}
                {% if product.image18 %}
                <img src="{{ product.image18.url }}">
                {% endif %}
                {% if product.image19 %}
                <img src="{{ product.image19.url }}">
                {% endif %}
                {% if product.image20 %}
                <img src="{{ product.image20.url }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
