{% extends 'base.html' %}

{% block content %}
{% load static %}
<img width="100%" src="{% static 'img/md.jpg' %}">
    <div class="container">
        <div class="text-center py-4">
            <h1><span class="pb-3" style="border-bottom: 5px solid #337ab7;">제품소개</span></h1>
        </div>
        <div class="container my-5 text-center" style="width: 100%">
            <div class="row" style="float:none; margin:0 auto; width: 60%;">
                {% for i in products %}
                    <a class="px-1" href="{% url 'product:product' i.pk %}" style="border:1px solid gray;width:33.33%;text-align: center; text-decoration: none; color:gray">
                        <div class="text-center">
                            <p class="my-1">{{ i.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="container px-5">
            <h3 class="m-0" style="border-left:8px solid rgb(0,52,136);">&nbsp&nbsp&nbsp{{ product.name }}</h3>
            <hr>
            <div class="text-center my-5">
                <div class="row text-center py-4 px-3" style="background-color:rgb(20, 51, 104)">
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image1.url }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image2.url }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image3.url }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image4.url }}">
                        {% endif %}
                    </div>
                </div>

                <div class="row text-center pb-4 px-3" style="background-color:rgb(20, 51, 104)">
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image5.url }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image6.url }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image7.url }}">
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if product.image1 %}
                        <img style="border: 8px solid white; width: 100%" src="{{ product.image8.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
